.ProductDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2%;
}
.ProductCard{
    display: grid;
    text-decoration: line-through;
    grid-template-rows: repeat(2,50%);
}